@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #1F2937;
  padding: 12px 15%;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 500;
}

.header-link-container {
  display: flex;
  gap: 25px;
}

.header a {
  color: #F9FAF8;
  text-decoration: none;
}

.title-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 15%;
  background-color: #1F2937;
}

.text-button-container {
  padding-right: 30px;
}

.main-text {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.secondary-text {
  font-size: 18px;
  color: #E5E7EB;
}

.main-signup-button {
  border: none;
  border-radius: 10px;
  background-color: #3882F6;
  color: #F9FAF8;
  font-size: 20px;
  font-weight: 500;
  padding: 8px 30px;
  margin-top: 10px;
}

.title-section img {
  height: 300px;
}

.information-header {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  text-align: center;
  margin: 40px 0;
}

.subject-container {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
  gap: 70px;  
}

.subject {
  text-align: center; 
  width: 200px;
}

.subject img {
  border: 5px solid #3882F6;
  border-radius: 25px;
}

.subject p {
  color: gray;
}

.quote-section {
  background-color: #E5E7EB;
  padding: 200px 400px;
}

.quote-text {
  display: block;
  font-size: 36px;
  font-weight: 300;
  color: #1F2937;
}

.author {
  display: block;
  font-size: 24px;
  font-weight: 500;
  text-align: right;
}

.signup-section {
  padding: 150px 300px;
}

.signup-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3882F6;
  padding: 70px 150px;
  border-radius: 10px;
}

.text-container {
  color: #F9FAF8;
}

.text-container .signup-main-text {
  font-size: 25px;
  font-weight: 500;
}

.text-container .signup-secondary-text {
  color: #E5E7EB;
  font-size: 19px;
}

.card-signup-button {
  border: 3px solid #F9FAF8;
  border-radius: 10px;
  background-color: #3882F6;
  font-size: 20px;
  font-weight: 500;
  padding: 8px 30px;
  color: #F9FAF8;
}

.footer {
  text-align: center;
  color: #F9FAF8;
  background-color: #1F2937;
  padding: 50px 0;
  font-weight: 300;
}